{% extends "base.html" %}
{% block content %}

<h3>Quick Information</h3>

<p><b>Who?</b></p>
<ul>
  <li><a href="https://www.cs.utexas.edu/~venkatar/">Venkat Arun</a> (instructor), Office Hours: after class or by email appointment</li>
  <li>Jeongyoon Moon (TA), Office Hours: 11:30 AM -12:30 PM, Tuesdays and Thursdays at GDC 1.302 (Desk 1)</li>
</ul>

<p><b>Where?</b> <a href="https://utdirect.utexas.edu/apps/campus/buildings/nlogon/facilities/utm/gdc/">GDC 1.304</a></p>

<p><b>When?</b> Tuesdays and Thursdays from 3:30-5:00 PM</p>

<p><b>Pre-requisites:</b> CS 439 (Principles of Computer Systems) or equivalent, programming experience</p>

<h3>Course Content</h3>

<p>This is an introductory course in computer networks that is suitable for undergraduate and beginning graduate students. The course will cover the foundational ideas, architecture, protocols and software that constitute the internet. It includes a hands-on component to familiarize students with how the internet works today. We expect students to be familiar with programming, algorithms, and basic probability. The course has three goals:</p>

<ol>
  <li>How does the internet work today? Why has it been designed this way?</li>
  <li>What alternate designs exist? What are the tradeoffs?</li>
  <li>How can we use, program and write applications for the internet?</li>
</ol>

<p>We will use the <a href="https://book.systemsapproach.org/">Computer Systems: Systems Approach</a> textbook by Larry Peterson and Bruce Davie. It is open source and available online.</p>

<p><b>Syllabus:</b> Design requirements and principles behind the internet, physical and link layer protocols, naming and addressing (incl DNS, DHCP), inter- and intra-domain routing, and transport and application layer protocols. Advanced topics: content distribution networks, virtual private networks, overlay networks, methods to tackle the scarcity of addresses, network security</p>

<p><b>Quiz:</b> You are allowed to bring 3 pages of notes to the quizzes. Further, the course staff will be available during the quiz. You may ask us specific and factual questions during the quiz. If we decide that the question is regarding nitty-gritty details about network protocols, we will answer it (e.g. how a particular routing algorithm works or what port number is used for what protocol).</p>

<p><b>Sample quizzes:</b> <a href="assets/cs356-quiz1-2024.pdf">Quiz 1</a>, <a href="assets/cs356-quiz2-2024.pdf">Quiz 2</a>, <a href="assets/cs356-final-2024.pdf">Final</a></p>

<h3>Grading</h3>

<ul>
  <li>Programming assignments (40%)</li>
  <li>Three quizzes (60%)</li>
  <li>Class participation (5% bonus)</li>
</ul>

<p><b>Accomodations:</b> If you are a student with a disability, or think you may have a disability, and need accommodations, please contact <strong>Disability and Access (D&amp;A)</strong>. You may refer to D&amp;A’s website for contact and more information: <a href="http://disability.utexas.edu/" target="_blank" rel="noopener noreferrer">http://disability.utexas.edu/</a>. If you are already registered with D&amp;A, please deliver your accommodation letter to me as early as possible in the semester so we can discuss your approved accommodations.</p>

<br/>
<br/>

{% endblock %}
