{% extends "base.html" %}

{% block header %}
<style>
  td {
      border: none;
  }
  th {
      border: none;
  }
</style>
{% endblock %}

{% block content %}
<h3>Assignment Logistics</h3>

<p>Assignments will be performed in groups of one or two. You may use the group finding feature of Canvas to find a partner. The goal for the assignments is to introduce you to tools and concepts commonly used in computer networks. We have tried to make the installation and setup of the environment as minimal and flexible as possible. There are five assignments, all of which require some programming. The assignments expect familiarity with Python programming and the Linux/Unix command line interface. </p>

<p>You should pick your own group members for your projects, but you may use the Ed discussion to find group members. You can just switch group members between projects, but please check with the instructor and TA first (send us a private message via Ed). Completing a project individually requires the instructor’s prior approval.</p>

<p>Prior experience has shown that students who begin projects shortly after they are assigned are more likely to succeed. You have up to 5 free late days which can be allocated across the assignments per your discretion (any delay beyond the due date and time counts as a late day). After this, we will deduct 50% points for every additional late day.</p>

<p><b>Use of LLMs:</b> You are allowed, and encouraged, to use large language models (LLMs) such as ChatGPT to help with your assignments as a substitute for searching the internet to fix issues. They have become a powerful tool that we should all learn to use effectively. However, it is not acceptable to simply copy paste its outputs for your assignments. Importantly, you are responsible for <i>understanding</i> everything you submit. We may quiz you at our discretion at any time. When in doubt about what constitutes cheating, please reach out to us through Ed Discussion with either a post or as a private message.</p>

<p>All code and results you submit must be the original work of your group. Cheating and plagiarism will not be tolerated and will be dealt with in accordance with the <a href="https://deanofstudents.utexas.edu/conduct/index.php">University of Texas policies and procedures</a>.</p>

<h3>The assignments</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Due Date</th>
      <th scope="col">Assignment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Fri, Sep 6</td>
      <td><a href="assets/assignment-intro.pdf">Introduction to network programming</a></td>
    </tr>
    <tr>
      <th>2</th>
      <td>TBD</td>
      <td>Routing</td>
    </tr>
    <tr>
      <th>3</th>
      <td>TBD</td>
      <td>Transport layer reliability</td>
    </tr>
    <tr>
      <th>4</th>
      <td>TBD</td>
      <td>Congestion collapse and control</td>
    </tr>
    <tr>
      <th>5</th>
      <td>TBD</td>
      <td>Secure network communication</td>
    </tr>
  </tbody>
</table>

<br/>

{% endblock %}
