{% extends "base.html" %}
{% block content %}

<h3>Quick Information</h3>

<p><b>Who?</b></p>
<ul>
  <li><a href="https://www.cs.utexas.edu/~venkatar/">Venkat Arun</a> (instructor), Office Hours: 2-2:30 pm Tuesdays and Thursdays at GDC 6.726</li>
  <li><a href="https://kyoungjunpark.github.io/">Kyounjun Park</a> (TA), Office Hours: Thursdays 11am to 12pm at GDC 6.816</li>
</ul>

<p><b>Where?</b> <a href="https://utdirect.utexas.edu/apps/campus/buildings/nlogon/facilities/utm/cba/">CBA 4.328</a></p>

<p><b>When?</b> Tuesdays and Thursdays from 12:30-2:00 PM</p>

<p><b>Pre-requisites:</b> CS 439 (Principles of Computer Systems) or equivalent, programming experience</p>

<p><b>Final Exam:</b> Thursday, Dec 12, 1-3 PM at  <a href="https://utdirect.utexas.edu/apps/campus/buildings/nlogon/facilities/utm/utc/">UTC 3.122</a></p>


<h3>Course Content</h3>

<p>This is an introductory course in computer networks that is suitable for undergraduate and beginning graduate students. The course will cover the foundational ideas, architecture, protocols and software that constitute the internet. It includes a hands-on component to familiarize students with how the internet works today. We expect students to be familiar with programming, algorithms, and basic probability. The course has three goals:</p>

<ol>
  <li>How does the internet work today?</li>
  <li>Why has it been designed this way?</li>
  <li>How can we use, program and write applications for the internet?</li>
</ol>

<p>We will use the <a href="https://book.systemsapproach.org/">Computer Systems: Systems Approach</a> textbook by Larry Peterson and Bruce Davie. It is open source and available online.</p>

<p><b>Syllabus:</b> Design requirements and principles behind the internet, physical and link layer protocols, naming and addressing (incl DNS, DHCP), inter- and intra-domain routing, and transport and application layer protocols. Advanced topics: content distribution networks, virtual private networks, overlay networks, methods to tackle the scarcity of addresses, network security</p>

<h3>Grading</h3>

<ul>
  <li>Programming assignments (45%)</li>
  <li>Two quizzes (30%)</li>
  <li>Final exam (30%)</li>
  <li>Class participation (5%)</li>
</ul>

<br/>
<br/>

{% endblock %}
