{% extends "base.html" %}

{% block head %}
<title>Publications</title>
{% endblock %}

{% block content %}
<h3 class="section">Publications</h3>
<hr/>

{% for p in papers if not p.exclude %}
  <div class="card" style="border: none">
    <div class="card-body">
      {% if p.special is defined %}
        <b style="color:#D01919;">{{p.special}}</b>
      {% endif %}
      <h5 class="card-title">{{p.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{p.authors}}</h6>
      <div class="card-subtitle text-muted">{{p.conf}}</div>
    </div>
  </div>
{% endfor %}

{% endblock %}
